<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Resetar senha</h1>

            <div class="alert alert-danger" *ngIf="initialized && !key">
                <strong>A chave de reset de senha não foi encontrada.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="key && !success">
                <span>Escolha uma nova senha</span>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <span>Não foi possível resetar sua senha. Apenas uma requisição de troca de senha é possível por dia.</span>
            </div>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Senha resetada.</strong> <a class="alert-link" (click)="login()">Clique aqui para entrar.</a> </span>
               
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                A senha e a confirmação não estão iguais.
            </div>

            <div *ngIf="key && !success">
                <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
                    <div class="form-group">
                        <label class="form-control-label" for="newPassword">Nova senha</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword"
                               placeholder="Digite uma nova senha"
                               formControlName="newPassword" #newPassword>

                        <div *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('newPassword')?.errors?.required">
                                Campo obrigatório.
                            </small>

                            <small class="form-text text-danger"
                            *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                                    Sua senha deve ter no mínimo 4 caracteres.
                            </small>

                            <small class="form-text text-danger"
                                    *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                                    Sua senha deve ter no máximo 50 caracteres.
                            </small>
                        </div>

                        <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Confirmar senha</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Repita sua senha"
                                formControlName="confirmPassword">
    
                        <div *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                                Campo obrigatório.
                            </small>
    
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                                   Sua senha deve ter no mínimo 4 caracteres.
                            </small>
    
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                                   Sua senha deve ter no máximo 50 caracteres.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Resetar senha</button>
                </form>
            </div>
        </div>
    </div>
</div>
