<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="collectPoint">
            <h2><span>Collect Point</span> {{ collectPoint.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ collectPoint.name }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ collectPoint.description }}</span>
                </dd>
                <dt><span>Lat</span></dt>
                <dd>
                    <span>{{ collectPoint.lat }}</span>
                </dd>
                <dt><span>Lon</span></dt>
                <dd>
                    <span>{{ collectPoint.lon }}</span>
                </dd>
                <dt><span>Materials</span></dt>
                <dd>
                    <span *ngFor="let materials of collectPoint.materials; let last = last">
                        <a [routerLink]="['/material', materials?.id, 'view']">{{ materials.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Users</span></dt>
                <dd>
                    <span *ngFor="let users of collectPoint.users; let last = last">
                        {{ users.login }}{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    {{ collectPoint.createdByLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/collect-point', collectPoint.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
