<div style="height: 100%;" class="d-flex justify-content-around">
    <div class="col-md-8 main-container d-flex flex-column align-items-center justify-content-center">
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h1 class="bold">Resetar senha</h1>
            <jhi-alert-error></jhi-alert-error>

            <h5 *ngIf="!success" class="bold">Insira o email usado no cadastro.</h5>

            <div class="alert alert-success" *ngIf="success">
                <span>Cheque sua caixa de entrada para como resetar sua conta.</span>
            </div>

            <div>
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                    <div class="form-group">
                        <label class="form-control-label" for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Seu email"
                               formControlName="email" #email>
    
                        <div *ngIf="resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="resetRequestForm.get('email')?.errors?.required">
                                Campo obrigatório.
                            </small>
    
                            <small class="form-text text-danger"
                                   *ngIf="resetRequestForm.get('email')?.errors?.email">
                                Email inválido.
                            </small>
    
                            <small class="form-text text-danger"
                                   *ngIf="resetRequestForm.get('email')?.errors?.minlength">
                                Seu email deve ter no mínimo 5 caracteres.
                            </small>
    
                            <small class="form-text text-danger"
                                   *ngIf="resetRequestForm.get('email')?.errors?.maxlength">
                                   Seu email deve ter no máximo 100 caracteres.
                            </small>
                        </div>
                    </div>
                    <div class="d-flex" style="margin-top: 30px;">
                        <div style="width: 100%;" class="btn btn-secondary" routerLink="/">
                            Voltar
                        </div>
                        <button type="submit"  [disabled]="resetRequestForm.invalid" style="margin-left: 10px;width: 100%;" class="btn btn-primary">
                            Resetar
                        </button>
                    </div>
                   
                </form>

            </div>
        </div>
    </div>
    <div class="icoleta-img">

    </div>
</div>
