<div class="d-flex justify-content-around home-wrapper">
    <div class="col-md-8 main-container d-flex flex-column align-items-center justify-content-center">
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h1 class="bold">Encontre aqui o seu<br> ponto de coleta de resíduos.</h1>
            <div>
                <div class="alert alert-danger" *ngIf="authenticationError">
                    <strong>Erro no login!</strong> Por favor, cheque suas credenciais e tente novamente.
                </div>
            </div>

            <div [ngSwitch]="isAuthenticated()">
                <div *ngSwitchCase='false'>
                    <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                        <h5 class="bold">Por favor insira os seus dados abaixo</h5>
                        <div class="form-group">
                            <label class="username-label" for="username">Usuário</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Seu usuário"
                                formControlName="username" #username>
                        </div>
    
                        <div class="form-group">
                            <label for="password">Senha</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Sua senha"
                                formControlName="password">
                        </div>
    
                        <div class="form-check">
                            <label class="form-check-label" for="rememberMe">
                                <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe">
                                <span>Lembrar de mim</span>
                            </label>
                        </div>
    
                        <button type="submit" style="width: 100%; margin-top: 30px;" class="btn btn-primary">Entrar</button>
                    </form>
    
                    <div style="width: 100%; margin: 10px 0px;" class="btn btn-secondary" (click)="register()">
                        &nbsp; Cadastre uma nova conta
                    </div>
    
                    <a (click)="requestResetPassword()">Esqueceu sua senha?</a>
                </div>
                <div *ngSwitchCase='true'>
                    <button routerLink='collect-point/new' type="submit" style="width: 100%; margin-top: 30px;" class="btn btn-primary">Criar novo ponto de coleta</button>
                    <button routerLink='collect-point' type="submit" style="width: 100%; margin-top: 30px;" class="btn btn-primary">Pesquisar por pontos de coleta</button>
                </div>
            </div>
        </div>
    </div>
    <div class="icoleta-img">

    </div>
</div>
